@b tooltip {
  display: inline-block;
  position: relative;
  width: max-content;
  cursor: pointer;
  overflow: hidden;

  @e trigger {
    display: inline-block;
    overflow: hidden;
    width: inherit;
  }
}
