@define-mixin e $element {
  .jv-input__$(element) {
    @mixin-content;
  }
}

@define-mixin m $modifier {
  .jv-input--$(modifier) {
    @mixin-content;
  }
}

@define-mixin when $state {
  .is-$(state) {
    @mixin-content;
  }
}

@define-mixin input-size $height {
  --jv-input-height: $height;
  height: var(--jv-input-height);
}

@b input {
  --jv-input-height: 36px;
  --jv-input-toggle-width: 24px;

  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  @e wrapper {
    box-sizing: border-box;
    display: inline-flex;
    border: 1px solid #ccc;
    flex: 1;
    align-items: center;
    position: relative;
    transition: all 0.3s;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow:
      1px 0 0 0 #ccc inset,
      0 1px 0 0 #ccc inset,
      0 -1px 0 0 #ccc inset;
    &:focus-within {
      border-color: #409eff;
      --jv-input-shadow-color: rgba(64, 158, 255, 0.2);
      outline: 0;
      box-shadow: 0 0 0 2px var(--jv-input-shadow-color);
    }

    &:has(.jv-input__toggle) > .jv-input__clear {
      right: var(--jv-input-toggle-width);
    }
  }

  @e inner {
    flex: 1;
    border: 0;
    padding: 0;
    border: none;
    outline: none;
    padding: 0 8px;
    height: var(--jv-input-height);
    box-sizing: border-box;
    background-color: transparent;
    font-size: medium;
    &::placeholder {
      color: #c0c4cc;
      font-size: 14px;
    }
  }

  @e suffix {
    display: inline-flex;
    margin-right: 5px;
  }

  @e prefix {
    display: inline-flex;
    margin-left: 5px;
  }

  @e toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--jv-input-toggle-width);
    height: 100%;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      & > .jv-icon {
        color: #909399 !important;
      }
    }
    & > .jv-icon {
      color: #c0c4cc !important;
    }
  }

  @e icon {
  }

  @e clear {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    height: 100%;
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      & > .jv-icon {
        color: #1b1c1c !important;
      }
    }
    & > .jv-icon {
      color: #c0c4cc !important;
    }
  }

  @m disabled {
    cursor: not-allowed;
    & > .jv-input__wrapper {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }
  @m x-large {
    @mixin input-size 52px;
  }
  @m large {
    @mixin input-size 40px;
  }
  @m small {
    @mixin input-size 28px;
  }
  @m tiny {
    @mixin input-size 24px;
  }
  @m medium {
    @mixin input-size 36px;
  }

  @b input-group {
    @e append {
      display: inline-flex;
      padding: 0 10px;
      line-height: var(--jv-input-height);
      border: 1px solid #ccc;
      box-shadow:
        0 0 0 1px #ccc inset,
        0 1px 0 0 #ccc inset,
        0 -1px 0 0 #ccc inset;
    }
    @e prepend {
      display: inline-flex;
      padding: 0 10px;
      line-height: var(--jv-input-height);
      border: 1px solid #ccc;
      box-shadow:
        1px 0 0 0 #ccc inset,
        0 1px 0 0 #ccc inset,
        0 -1px 0 0 #ccc inset;
    }
  }
}
