:root {
  --jv-text-color-disabled: hsl(210deg 6% 21%);
  --jv-btn-color: rgb(var(--jv-theme-on-surface));
  --jv-btn-bgcolor: rgb(var(--jv-theme-surface));
  --jv-btn-disabled-color: rgb(var(--jv-theme-on-surface) 0.38);
  --jv-btn-disabled-bg: rgb(var(--jv-theme-on-surface) 0.12);
  --jv-btn-border-radius: 4px;
  --jv-button-bg-color: var(--jv-theme-color-background);
  --jv-button-width: auto;
}

@supports selector(:focus-visible) {
  .jv-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@supports selector(:focus-visible) {
  .jv-button::after {
    pointer-events: none;
    border: 2px solid currentcolor;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}

@b button {
  display: inline-grid;
  position: relative;
  width: var(--jv-button-width);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  grid-template-areas: 'prepend content append';
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  letter-spacing: 0.0892857em;
  max-width: 100%;
  text-indent: 0.0892857em;
  text-transform: uppercase;
  transition-property: box-shadow, transform, opacity, background;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  vertical-align: middle;
  flex-shrink: 0;
  outline: none;
  box-sizing: border-box;
  column-gap: 4px;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid rgb(var(--jv-theme-primary));
  }

  @e content {
    border-radius: inherit;
    color: var(--jv-btn-color);
    font-size: 1rem;
    line-height: 1.25;
    text-align: center;
    grid-area: content;
    flex-direction: column;
    background-color: hsl(var(--jv-btn-bgcolor) 0.04);
    overflow: hidden;
    white-space: nowrap;
  }

  @e prepend {
    grid-area: prepend;
    justify-self: start;
  }

  @e append {
    grid-area: append;
    justify-self: end;
  }

  @m tiny {
    --jv-btn-size: 0.625rem;
    --jv-btn-height: 20px;

    height: var(--jv-btn-height);
    padding: 0 15px;

    & > .button__content {
      font-size: var(--jv-btn-size) !important;
      line-height: calc(var(--jv-btn-size) + 3px);
    }
  }

  @m small {
    --jv-btn-size: 0.75rem;
    --jv-btn-height: 28px;

    height: var(--jv-btn-height);
    padding: 0 18px;

    & > .button__content {
      font-size: var(--jv-btn-size) !important;
      line-height: calc(var(--jv-btn-size) + 3px);
    }
  }

  @m medium {
    --jv-btn-size: 0.875rem;
    --jv-btn-height: 36px;

    height: var(--jv-btn-height);
    padding: 0 20px;

    & > .button__content {
      font-size: var(--jv-btn-size) !important;
      line-height: calc(var(--jv-btn-size) + 3px);
    }
  }

  @m large {
    --jv-btn-size: 1rem;
    --jv-btn-height: 44px;

    height: var(--jv-btn-height);
    padding: 0 22px;

    & > .button__content {
      font-size: var(--jv-btn-size) !important;
      line-height: calc(var(--jv-btn-size) + 3px);
    }
  }

  @m x-large {
    --jv-btn-size: 1.125rem;
    --jv-btn-height: 52px;

    height: var(--jv-btn-height);
    padding: 0 25px;

    & > .button__content {
      font-size: var(--jv-btn-size) !important;
      line-height: calc(var(--jv-btn-size) + 3px);
    }
  }

  @m primary {
    color: rgb(var(--jv-theme-on-primary)) !important;
    background-color: rgb(var(--jv-theme-primary)) !important;
  }

  @m success {
    color: rgb(var(--jv-theme-on-success)) !important;
    background-color: rgb(var(--jv-theme-success)) !important;
  }

  @m warning {
    color: rgb(var(--jv-theme-on-warning)) !important;
    background-color: rgb(var(--jv-theme-warning)) !important;
  }

  @m danger {
    color: rgb(var(--jv-theme-on-error)) !important;
    background-color: rgb(var(--jv-theme-error)) !important;
  }

  @m info {
    color: rgb(var(--jv-theme-on-info)) !important;
    background-color: rgb(var(--jv-theme-info)) !important;
  }

  @m text {
    background-color: transparent;
    color: rgb(var(--jv-theme-primary));

    &:hover {
      background-color: rgb(var(--jv-theme-primary) 0.04);
    }
  }

  @m plain {
    background-color: transparent;
    color: var(--jv-btn-color);
  }

  @m flat {
    box-shadow: none;
  }

  @m tonal {
    background-color: rgb(var(--jv-theme-primary) 0.08) !important;
    color: rgb(var(--jv-theme-primary)) !important;
  }

  @m outlined {
    border: thin solid currentcolor;
    background-color: transparent;
    color: rgb(var(--jv-theme-primary));
  }

  @m elevated {
    background: var(--jv-btn-bgcolor);
    box-shadow:
      0 3px 1px -2px rgb(0 0 0 / 20%),
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
    color: var(--jv-btn-color);
  }

  @m disabled {
    opacity: 0.6;
    color: var(--jv-btn-disabled-color);
    background-color: var(--jv-btn-disabled-bg);
    border-color: transparent;
    pointer-events: none;

    & > .button__content {
      color: var(--jv-text-color-disabled);
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  @m rounded {
    border-radius: 20px;
  }

  @m block {
    display: block inline-grid;
    width: 100%;
  }

  @m dashed {
    border: 2px dashed;
    background-color: transparent !important;
    box-shadow: none;
  }

  @m loading {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    & > .button__content {
      visibility: hidden;
      opacity: 0;
    }

    & > .button__loader {
      grid-area: content;
      justify-self: center;
    }
  }

  & > .icon {
    color: black;
  }
}
