@define-mixin e $element {
  .jv-collapse-item__$(element) {
    @mixin-content;
  }
}

@b collapse-item {
  background-color: var(--jv-color-white);
  box-sizing: border-box;
  border-bottom: 1px solid var(--jv-color-border-light);

  /* border-color: var(--jv-color-border-light); */

  /* border-style: solid; */
  @e header {
    padding: var(--jv-spacing-small);
    font-size: var(--jv-font-size-medium);
    line-height: var(--jv-line-height-medium);
    cursor: pointer;
    vertical-align: middle;
  }

  @e wrapper {
    box-sizing: inherit;
  }

  @e content {
    padding: var(--jv-spacing-small);
    color: var(--jv-color-text-secondary);
    font-size: var(--jv-font-size-small);
    cursor: default;
    box-sizing: inherit;
    user-select: text;
    min-height: max-content;
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: height 0.3s ease-in-out;
}
