node_modules
.vscode/*
old
build/*
storybook-static
examples

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook*
.storybook
.vitepress

# Storybook生成目录
packages/jovial/storybook-static/