@import './common/index.css';
@import './theme/index.css';
@import '../../jovial/src/components/JvTooltip/style/jv-tooltip.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  word-break: normal;
  tab-size: 4;
}
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
