.jv-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
  }

  &__group-item {
    list-style: none;
  }
}

.jv-expand-enter-active,
.jv-expand-leave-active {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.jv-expand-enter-from,
.jv-expand-leave-to {
  height: 0;
  opacity: 0;
}
