.jv-list-group {
  &__header {
    display: flex;
    align-items: center;
    padding: var(--jv-spacing-small) var(--jv-spacing-medium);
    transition: background-color 0.3s;

    &.is-clickable {
      cursor: pointer;
      &:hover {
        background-color: var(--jv-list-item-hover-bg);
      }
    }
  }

  &__icon {
    margin-right: var(--jv-spacing-small);
    transition: transform 0.3s;

    &.is-expanded {
      transform: rotate(90deg);
    }
  }

  &__title {
    flex: 1;
  }

  &__content {
    overflow: hidden;
    transition: height 0.3s;
    height: 0;

    &.is-expanded {
      height: auto;
    }
  }
}
