@use 'mixins/mixins.scss' as *;
@include b(popper) {
  display: inline-block;
  position: relative;
  background-origin: content-box;
  color: white;
  // box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 5px;
  background: linear-gradient(145deg, #4d4d4d, #323232);
  box-shadow:
    6px 6px 11px #bebebe,
    -6px -6px 11px #ffffff;
}
