@use 'mixins/mixins.scss' as *;
@include b(tooltip) {
  display: block;
  cursor: pointer;

  @include e(reference) {
    display: inline-block;
  }

  & > .jv-popper {
    .jv-popper__content {
      line-height: 1.5;
      font-size: 14px;
      padding: 8px 12px;
    }
  }
}
