@use "mixins/mixins.scss" as *;

@include b("tree") {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
}
@include b("tree-node") {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #f5f7fa;
  }

  @include e("label") {
  }

  &:not(.is-disabled) {
    .jv-tree-node__label {
      cursor: pointer;
      display: flex;
      flex: 1;
    }
  }

  &.is-disabled {
    .jv-tree-node__label {
      cursor: not-allowed;
      opacity: 0.5;
      color: #c0c4cc;
      display: flex;
      flex: 1;
    }
  }

  @include e("content") {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  @include e("expand-icon") {
    display: inline-block;
    width: 24px;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    &.expanded {
      transform: rotate(90deg);
    }
    &.is-leaf {
      fill: transparent;
      visibility: hidden;
      cursor: default;
    }
  }

  // 是否选中
  @include when("selected") {
    background-color: #2c5591 !important;
  }
}
