@import '@jovial/theme-chalk/src/common/mixins.css';

@define-mixin e $element {
  .jv-list-item__$(element) {
    @mixin-content;
  }
}
@mixin b list-item {
  --jv-list-item-hover: #f2f2f2;
  width: 100%;
  display: inline-grid;
  grid-template-areas: 'prepend content append';
  grid-template-columns: auto 1fr auto;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: var(--jv-list-item-hover);
  }

  @mixin e content {
    display: inline-block;
    grid-area: content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
  }

  @mixin e prepend {
    grid-area: prepend;
    display: inline-block;
    width: max-content;
  }
  @mixin e append {
    grid-area: append;
  }
  & > .is-prepend {
    display: none;
  }
}
