@define-mixin e $element {
  .jv-radio__$(element) {
    @mixin-content;
  }
}

@b radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;

  @e icon-wrapper {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(var(--jv-theme-primary), 0.1);
    }
    &:active {
      transform-origin: center;
      transform: scale(0.9);
      transition: transform 0.2s ease;
    }
  }

  @e icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.2s ease;
    border-radius: 50%;
  }

  @e input {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    outline: none;
    z-index: 1;

    &:focus-visible + .jv-radio__icon-wrapper {
      background-color: var(--jv-color-primary-light-9);
    }
  }

  @e label {
    font-size: var(--jv-font-size-base);
    color: var(--jv-text-color-primary);
    margin-left: 4px;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@b radio {
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.7;
    @e icon-wrapper {
      cursor: not-allowed;
      background-color: var(--jv-theme-color-error);
    }
    @e icon {
      .jv-icon__svg {
        color: rgba(118, 114, 114, 0.772);
        background-color: rgba(118, 114, 114, 0.772) !important;
        &:active {
          transform: none;
          transition: none;
          /* 使用贝塞尔曲线实现震荡 */
          animation: jv-radio-shake 0.4s cubic-bezier(0.36, 0, 0.66, -0.56) both;
        }
      }
    }
    @e input {
      cursor: not-allowed;
      &:hover:not(:checked) {
        border-color: var(--jv-border-color);
      }
    }

    @e label {
      cursor: not-allowed;
      color: var(--jv-text-color-disabled);
    }
  }

  &.is-checked {
    @e icon {
      .jv-icon__svg {
        color: rgb(var(--jv-theme-primary));
        background-color: rgb(var(--jv-theme-primary));
      }
    }
  }
}

@keyframes jv-radio-checked-animation {
  to {
    transform: translateX(0.25rem);
  }
}
@keyframes jv-radio-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}
