:root {
  --jv-switch-width: 40px;
  --jv-switch-height: 20px;
  --jv-switch-thumb-size: 16px;
}

@b switch {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  align-items: center;

  @e track {
    width: var(--jv-switch-width);
    height: var(--jv-switch-height);
    background: rgb(var(--jv-theme-surface-variant));
    border-radius: calc(var(--jv-switch-height) / 2);
    transition: background-color 0.3s;
  }

  @e thumb {
    position: absolute;
    left: 2px;
    width: var(--jv-switch-thumb-size);
    height: var(--jv-switch-thumb-size);
    background: rgb(var(--jv-theme-on-surface-variant));
    border-radius: 50%;
    transition: transform 0.3s;
  }

  @m checked {
    @e track {
      background: rgb(var(--jv-theme-primary));
    }

    @e thumb {
      background: rgb(var(--jv-theme-on-primary));
      transform: translateX(20px);
    }
  }

  @m disabled {
    opacity: var(--jv-disabled-opacity);
    cursor: not-allowed;
  }
}
