@import '@jovial/theme-chalk/src/common/mixins.css';

@define-mixin e $element {
  .jv-card__$(element) {
    @mixin-content;
  }
}
@mixin b card {
  --jv-card-padding: 16px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--jv-card-bg, #ffffff);
  overflow: hidden;
  color: var(--jv-text-color-primary, #303133);
  transition: all 0.3s;

  &.is-border {
    border: var(--jv-border-solid);
  }

  &.is-round {
    border-radius: 8px;
  }

  &__header {
    padding: 18px 20px;
    border-bottom: 1px solid var(--jv-border-color, #dcdfe6);
    box-sizing: border-box;
  }

  &__title-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: var(--jv-text-color-primary, #303133);
    margin: 0;
  }

  &__subtitle {
    font-size: 14px;
    color: var(--jv-text-color-secondary, #909399);
    margin: 0;
  }

  &__body {
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
  }

  &__footer {
    padding: 20px;
    border-top: 1px solid var(--jv-border-color, #dcdfe6);
  }

  &__actions {
    padding: 12px 20px;
    border-top: 1px solid var(--jv-border-color, #dcdfe6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
  }

  &__cover {
    img {
      width: 100%;
      display: block;
    }
  }

  &--shadow-always {
    box-shadow: var(--jv-shadow-light, 0 2px 12px 0 rgba(0, 0, 0, 0.1));
  }

  &--shadow-hover {
    &:hover {
      box-shadow: var(--jv-shadow-drak, 0 2px 12px 0 rgba(0, 0, 0, 0.1));
    }
  }
}

/* .jv-card {
  --jv-card-border-radius: 4px;
  --jv-card-wrapper-padding: 8px;
  position: relative;
  z-index: 2;
  background-origin: content-box !important;
  background-clip: content-box !important;
  background-color: transparent;
} */
/* .jv-card::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  inset: calc(-1 * var(--jv-card-wrapper-padding));
  width: calc(100% + var(--jv-card-wrapper-padding) * 2);
  height: calc(100% + var(--jv-card-wrapper-padding) * 2);

  border-radius: var(--jv-card-border-radius);
  pointer-events: none;
}
.jv-card::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  border: var(--jv-border-solid) !important;
  border-radius: var(--jv-card-border-radius);
  box-shadow: var(--jv-shadow-drak, 0 2px 12px 0 rgba(0, 0, 0, 0.1));
} */
