@b button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* 元素 */
  @e icon {
    margin-right: 8px;
  }

  @e label {
    flex: 1;
  }

  /* 修饰符 */
  @m primary {
    background: var(--jv-color-primary);
    color: #fff;
  }

  @m small {
    padding: 4px 8px;
    font-size: 12px;
  }

  /* 状态 */
  @when disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@each $type in info, success, warning, danger {
  @m $(type) {
    --jv-message-border-color: var(--jv-color-$(type));
    --jv-message-bg-color: var(--jv-color-$(type)-light-7);
    --jv-message-text-color: var(--jv-color-$(type));
  }
}
