.jv-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* 元素 */

  /* 修饰符 */

  /* 状态 */
}

.jv-button.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.jv-button__icon {
  margin-right: 8px;
}

.jv-button__label {
  flex: 1;
}

.jv-button--primary {
  background: var(--jv-color-primary);
  color: #fff;
}

.jv-button--small {
  padding: 4px 8px;
  font-size: 12px;
}

@each $type in info, success, warning, danger {
  @m $(type) {
    --jv-message-border-color: var(--jv-color-$(type));
    --jv-message-bg-color: var(--jv-color-$(type)-light-7);
    --jv-message-text-color: var(--jv-color-$(type));
  }
}
