@import '@jovial/theme-chalk/src/common/mixins.css';

@define-mixin e $element {
  .jv-button__$(element) {
    @mixin-content;
  }
}

@define-mixin m $modifier {
  .jv-button--$(modifier) {
    @mixin-content;
  }
}

@define-mixin when $state {
  &.is-$(state) {
    @mixin-content;
  }
}

@define-mixin button-size $size, $height, $padding {
  --jv-btn-size: $size;
  --jv-btn-height: $height;
  height: var(--jv-btn-height);
  padding: 0 $padding;
  & > .jv-button__content {
    font-size: var(--jv-btn-size) !important;
    line-height: calc(var(--jv-btn-size) + 3px);
  }
}

/* 定义按钮变体样式的 mixin */
@define-mixin button-variant $color, $background-color, $border-color {
  color: $color !important;
  background-color: $background-color !important;
  border-color: $border-color !important;
}

@mixin b button {
  --jv-text-color-disabled: hsl(210, 6%, 21%);
  --jv-btn-color: 0, 0%, 0%;
  --jv-btn-bgcolor: 0, 0%, 100%;
  --jv-button-bg-color: var(--jv-theme-color-background);
  --jv-btn-borderRadius: var(--jv-button-borderRadius);
  --jv-button-width: auto;
  --jv-theme-on-surface: 0, 0%, 100%;

  font-family: 'Roboto', sans-serif;
  align-items: center;
  display: inline-grid;
  grid-template-areas: 'prepend content append';
  grid-template-columns: max-content auto max-content;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.0892857em;
  line-height: normal;
  max-width: 100%;
  position: relative;
  text-indent: 0.0892857em;
  text-transform: uppercase;
  transition-property: box-shadow, transform, opacity, background;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  vertical-align: middle;
  flex-shrink: 0;
  border-radius: 4px;
  outline: none;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  width: var(--jv-button-width);

  @mixin e content {
    grid-area: content;
    flex-direction: column;
    line-height: 1.25;
    font-size: 1rem;
    color: hsl(var(--jv-btn-color));
    background-color: hsla(var(--jv-btn-bgcolor), 0.04);
    border-radius: inherit;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
  }

  @mixin e prepend {
    grid-area: prepend;
    justify-self: start;
  }
  @mixin e append {
    grid-area: append;
    justify-self: end;
  }

  &--tiny {
    @mixin button-size 0.625rem, 20px, 15px;
  }

  &--small {
    @mixin button-size 0.75rem, 28px, 18px;
  }

  &--medium {
    @mixin button-size 0.875rem, 36px, 20px;
  }

  &--large {
    @mixin button-size 1rem, 44px, 22px;
  }

  &--x-large {
    @mixin button-size 1.125rem, 52px, 25px;
  }

  &--primary {
    /* @mixin button-variant hsl(0, 0%, 100%), var(--jv-color-primary), var(--jv-color-primary); */
    @mixin button-variant hsl(0, 0%, 100%), var(--jv-button-bg-color), var(--jv-button-bg-color);
  }

  &--success {
    @mixin button-variant hsl(0, 0%, 100%), var(--jv-color-success), var(--jv-color-success);
  }

  &--warning {
    @mixin button-variant hsl(0, 0%, 100%), var(--jv-color-warning), var(--jv-color-warning);
  }

  &--danger {
    @mixin button-variant hsl(0, 0%, 100%), var(--jv-color-danger), var(--jv-color-danger);
  }

  &--info {
    @mixin button-variant hsl(0, 0%, 100%), var(--jv-color-info), var(--jv-color-info);
  }
  /*按钮变体样式 */
  &--text {
    background-color: transparent;
    box-shadow: none;
  }

  &--plain {
    background-color: transparent;
    color: hsl(var(--jv-btn-color));
  }

  &--flat {
    box-shadow: none;
  }

  &--tonal {
    background-color: hsla(var(--jv-btn-color), 0.1) !important;
  }

  &--outlined {
    border: 1px solid;
    background-color: transparent;
    padding: 0 19px;
  }

  &--elevated {
    box-shadow:
      0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px rgba(0, 0, 0, 0.14),
      0px 1px 5px rgba(0, 0, 0, 0.12);
    color: rgba(var(--jv-theme-on-surface), var(--jv-high-emphasis-opacity));
    background: rgb(var(--jv-theme-surface));
  }

  @mixin when disabled {
    opacity: 0.6;
    border: 1px solid var(--jv-text-color-disabled);
    & > .jv-button__content {
      color: var(--jv-text-color-disabled);
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  @mixin when rounded {
    border-radius: 20px;
  }

  @mixin when block {
    display: block inline-grid;
    width: 100%;
  }

  @mixin when dashed {
    border: 2px dashed;
    background-color: transparent !important;
    /*  filter: opacity(0.5); 50% 透明度 */
    box-shadow: none;
  }
  @mixin when loading {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;

    & > .jv-button__content {
      visibility: hidden;
      opacity: 0;
    }
    & > .jv-button__loader {
      grid-area: content;
      justify-self: center;
    }
  }
}
