// jovial-theme.scss  

:root {  
  --sunshine-yellow: #FFEB3B; // 阳光黄  
  --passion-orange: #FF9800; // 橙色  

  --mint-teal: #009688; // 蓝绿色  
  --light-green: #4CAF50; // 淡绿色  

  --pink: #E91E63; // 粉红色  
  --purple: #9C27B0; // 紫色  

  --light-background: #FFFFFF; // 淡白色  
  --light-gray-background: #F1F1F1; // 淡灰色  
  --beige-background: #FAFAFA; // 浅米色  

  // 组合配色方案  
  --primary-color:#FFEB3B; // 主色  
  --secondary-color: #FF9800; // 辅色  
}  

