// jovial-theme.scss

:root {
  --sunshine-yellow: #ffeb3b; // 阳光黄
  --passion-orange: #ff9800; // 橙色

  --mint-teal: #009688; // 蓝绿色
  --light-green: #4caf50; // 淡绿色

  --pink: #e91e63; // 粉红色
  --purple: #9c27b0; // 紫色

  --light-background: #ffffff; // 淡白色
  --light-gray-background: #f1f1f1; // 淡灰色
  --beige-background: #fafafa; // 浅米色

  // 组合配色方案
  --primary-color: #ffeb3b; // 主色
  --secondary-color: #ff9800; // 辅色
}
