@import url('@jienix/jovial-theme/src/common/shadows.css');

@b table {
  display: flex;
  clear: both;
  height: max-content;
  border: 1px solid rgb(140 140 140);
  border-radius: 4px;
  max-width: 100%;
  min-height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

@b table-native {
  display: block;
  width: fit-content;
  min-width: fit-content;
  table-layout: fixed;
  border-collapse: collapse;
  white-space: nowrap;
}
