@import '@jovial/theme-chalk/src/common/mixins.css';

@define-mixin e $element {
  .jv-badge__$(element) {
    @mixin-content;
  }
}

@define-mixin m $modifier {
  .jv-badge--$(modifier) {
    @mixin-content;
  }
}

@define-mixin when $state {
  &.is-$(state) {
    @mixin-content;
  }
}

@mixin b badge {
  position: relative;
  display: inline-block;
  &::after {
    display: inline-block;
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    color: white;
    width: max-content;
    height: max-content;
    text-align: center;
    white-space: nowrap;
    background-color: var(--badge-color, red);
    border-radius: 8px;
    opacity: 0;
  }
  @mixin when rounded {
    &::after {
      border-radius: 50%;
    }
  }
  @mixin when visible {
    &::after {
      opacity: 1;
    }
  }
}
@mixin m top-right {
  &::after {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
}

@mixin m top-left {
  &::after {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}

@mixin m bottom-right {
  &::after {
    top: auto;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }
}

@mixin m bottom-left {
  &::after {
    top: auto;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }
}

@mixin m small {
  &::after {
    padding: 2px;
    font-size: 12px;
    font-weight: var(--jv-font-weight-regular);
  }
}
@mixin m medium {
  &::after {
    padding: 4px;
    font-size: 14px;
    font-weight: var(--jv-font-weight-medium);
  }
}

@mixin m large {
  &::after {
    padding: 6px;
    font-size: 16px;
    font-weight: var(--jv-font-weight-bold);
  }
}
