@import '@jovial/theme-chalk/src/common/mixins.css';

@define-mixin e $element {
  .jv-space__$(element) {
    @mixin-content;
  }
}
@define-mixin m $modifier {
  .jv-space--$(modifier) {
    @mixin-content;
  }
}

@mixin b space {
  --jv-space-vertical-size: 16px;
  --jv-space-size: 16px;
  min-width: 100%;
  min-height: max-content;
  display: flex;
  flex-wrap: nowrap;
  row-gap: var(--space-vertical-size);
  column-gap: var(--space-size);
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;

  @mixin m wrap {
    flex-wrap: wrap;
  }
  @mixin m inline {
    display: inline-flex;
  }

  @mixin m justify-start {
    justify-content: flex-start !important;
  }
  @mixin m justify-center {
    justify-content: center;
  }
  @mixin m justify-end {
    justify-content: flex-end;
  }
  @mixin m justify-between {
    justify-content: space-between;
  }
  @mixin m justify-around {
    justify-content: space-around;
  }
  @mixin m justify-evenly {
    justify-content: space-evenly;
  }

  @mixin m align-start {
    align-items: flex-start;
  }
  @mixin m align-center {
    align-items: center;
  }
  @mixin m align-end {
    align-items: flex-end;
  }
  @mixin m align-stretch {
    align-items: stretch;
  }
  @mixin m align-baseline {
    align-items: baseline;
  }
}
@mixin m horizontal {
  flex-direction: row;
}
@mixin m vertical {
  flex-direction: column;
}
