@b popper {
  --jv-popper-bg-color: rgb(var(--jv-theme-primary));
  --jv-popper-border-color: rgb(var(--jv-theme-on-primary));
  --jv-popper-font-size: 12px;
  --jv-popper-arrow-size: 8px;
  --jv-popper-arrow-offset: calc(var(--jv-popper-arrow-size) / 2);

  display: inline-block;
  background: var(--jv-popper-bg-color);
  border: 1px solid var(--jv-popper-border-color);
  border-radius: 4px;
  box-shadow:
    2px 2px 5px #bebebe,
    6px 6px 11px #bebebe,
    -6px -6px 11px #fff;
  color: white;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  z-index: 1;
  white-space: nowrap;
  background-origin: content-box;

  #jv-popper-arrow,
  #jv-popper-arrow::before {
    position: absolute;
    width: var(--jv-popper-arrow-size);
    height: var(--jv-popper-arrow-size);
    background: var(--jv-popper-bg-color);
    box-sizing: border-box;
  }

  #jv-popper-arrow {
    visibility: hidden;
  }

  #jv-popper-arrow::before {
    border: 1px solid var(--jv-popper-border-color);
    transform: rotate(45deg);
    visibility: visible;
    content: '';
  }
}

[data-popper-placement^='top'] {
  & > #jv-popper-arrow {
    bottom: -4px;
  }

  & > #jv-popper-arrow::before {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;

    /* 裁剪三角形 */
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
  }
}

[data-popper-placement^='bottom'] {
  & > #jv-popper-arrow {
    top: -4px;
  }

  & > #jv-popper-arrow::before {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;

    /* 裁剪三角形 */
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }
}

[data-popper-placement^='left'] {
  & > #jv-popper-arrow {
    right: calc(var(--jv-popper-arrow-offset) * -1);
  }

  & > #jv-popper-arrow::before {
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;

    /* 裁剪三角形 */
    clip-path: polygon(100% 100%, 0 0, 100% 0);
  }
}

[data-popper-placement^='right'] {
  & > #jv-popper-arrow {
    left: calc(var(--jv-popper-arrow-offset) * -1);
  }

  & > #jv-popper-arrow::before {
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    clip-path: polygon(100% 100%, 0 0, 0 100%);
  }
}
