@b text {
  line-height: inherit;
  hanging-punctuation: first allow-end;
  text-spacing: trim-auto;
  /* 继承父元素的行高 */
  transition: color 0.2s;
  writing-mode: var(--jv-typography-writing-mode);
  text-orientation: var(--jv-typography-text-orientation);
  line-break: var(--jv-typography-line-break);
  letter-spacing: var(--jv-letter-spacing);
  text-align: var(--jv-typography-text-align);
  text-decoration: var(--jv-typography-text-decoration);
  text-decoration-color: var(--jv-typography-text-decoration-color);
  text-decoration-style: var(--jv-typography-text-decoration-style);
  text-wrap: var(--jv-text-wrap);
  hyphens: var(--jv-hyphens);
  color: var(--jv-text-color);
  font-family: var(--jv-font-family);
  font-size: var(--jv-text-font-size);
  font-weight: var(--jv-font-weight);
  font-style: var(--jv-typography-font-style);
  @m default {
    color: rgb(var(--jv-theme-on-background));
  }
  @m primary {
    color: rgb(var(--jv-theme-primary));
  }
  @m secondary {
    color: rgba(var(--jv-theme-secondary), 0.45);
  }
  @m success {
    color: rgb(var(--jv-theme-success));
  }
  @m warning {
    color: rgb(var(--jv-theme-warning));
  }
  @m error {
    color: rgb(var(--jv-theme-error));
  }

  @m text {
    margin: 0;
  }
  @m strong {
    font-weight: 600;
  }
  @m italic {
    font-style: italic;
  }
  @m underline {
    text-decoration: underline;
  }
  @m small {
    font-size: 0.8em;
  }
  @m code {
    font-family: var(--jv-font-family-code);
    font-feature-settings: 'calt' off;
  }
  @m mark {
    background-color: var(--jv-color);
    color: var(--jv-color-text-inverted);
  }
  @m del {
    text-decoration: line-through;
  }
  @m ins {
    text-decoration: underline;
  }
  @m sub {
    vertical-align: sub;
  }
  @m sup {
    vertical-align: super;
  }
  @m ruby {
    font-family: var(--jv-font-family-ruby);
  }
  @m rp {
    font-family: var(--jv-font-family-rp);
  }
  @m rt {
    font-family: var(--jv-font-family-rt);
  }
  @m bdo {
    direction: rtl;
  }
  @m wbr {
    word-break: break-word;
  }
  @m br {
    margin: 0;
  }

  @m kbd {
    --border-secondary: #696969;
    font-family: var(--jv-font-family-code);
    font-size: 0.8em;
    /* 样式 按钮 */
    border: 2px solid var(--border-secondary);
    border-radius: 0.25rem;
    box-shadow: var(--border-secondary);
    box-shadow: inset 0px -2px 0 0 var(--border-secondary);
    font-size: 0.825rem;
    padding: 0.125rem 0.3125rem;
    margin: 0 0.2em;
  }

  @m truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @m balance {
    text-wrap: balance;
  }

  @m hyphenate {
    hyphens: auto;
  }
}
