@b title {
  --jv-title-line-height: 1.3;
  --jv-title-spacing: 1.2em;

  margin: var(--jv-title-spacing) 0;
  font-weight: 700;
  line-height: var(--jv-title-line-height);
  color: var(--jv-text-color-primary);

  /* 等级 */
  &__level-1 {
    font-size: var(--jv-font-size-3xl);
    letter-spacing: -0.02em;
  }

  &__level-2 {
    font-size: var(--jv-font-size-2xl);
  }

  &__level-3 {
    font-size: var(--jv-font-size-xl);
  }

  &__level-4 {
    font-size: var(--jv-font-size-lg);
  }

  &__level-5 {
    font-size: var(--jv-font-size-md);
  }

  &__level-6 {
    font-size: var(--jv-font-size-sm);
  }

  &__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  /* 直排模式 */
  &[data-writing-mode='vertical'] {
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 2;
    padding: 0.8em 0;
  }
}
