@import '@jovial/theme-chalk/src/common/mixins.css';
@import './theme-vars.css';

@define-mixin e $element {
  .jv-circle-progress__$(element) {
    @mixin-content;
  }
}
@define-mixin m $modifier {
  .jv-circle-progress--$(modifier) {
    @mixin-content;
  }
}

@mixin b circle-progress {
  border-radius: var(--jv-progress-radius);
  display: inline-block;
  width: var(--jv-progress-width);
  height: var(--jv-progress-width);
  circle {
    transition: stroke-dashoffset 0.6s ease;
  }
}
