@import './theme-vars.css';

@b line-progress {
  position: relative;
  display: inline-flex;
  width: var(--jv-progress-width);
  border-radius: var(--jv-progress-radius);
  svg {
    width: 100%;
    height: 100%;
  }
  /* 添加动画相关样式 */
  rect {
    transition: all 0.1s ease;
  }
  /* 添加背景阴影滤镜 */
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}
