/* :root {
  --jv-progress-stroke-width: 10px;
  --jv-progress-radius: 10px;
  --jv-progress-width: 100%;
  --jv-progress-bg-color: #f5f5f5;
  --jv-progress-value-color: #409eff;
  --jv-progress-text-color: #222;
  --jv-progress-text-size: 14px;
  --jv-progress-text-font-weight: 400;
  --jv-progress-text-offset: 8px;
  --jv-progress-text-position: top;
  --jv-progress-text-inside: false;
} */
