@b breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;

  /* 面包屑项 */
  @e item {
    display: flex;
    align-items: center;
    color: var(--jv-text-color);
    transition: color 0.3s;

    @when link {
      cursor: pointer;

      &:hover {
        color: var(--jv-color-primary);
      }
    }

    @when disabled {
      color: var(--jv-text-color-disabled);
      cursor: not-allowed;
    }
  }

  /* 图标 */
  @e icon {
    margin-right: 4px;
    font-size: 16px;
  }

  /* 文本 */
  @e label {
    font-size: inherit;
  }

  /* 分隔符 */
  @e separator {
    margin: 0 8px;
    color: var(--jv-text-color-secondary);
  }
}
