@use '../mixins/bem' as *;

@include b(table__cell) {
  position: relative;
  padding: 12px;
  font-weight: 500;
  z-index: 1;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;

  user-select: text;

  @include when(fixed) {
    position: sticky;
    padding: 0;
    box-shadow:
      0 3px 9px 0 rgb(0 0 0 / 10%),
      3px 3px 9px 0 rgb(0 0 0 / 10%);
    z-index: 999;
    background-color: #fff !important;
  }

  @include e(shadow) {
    padding: 16px;
  }

  @include m(fixed-left) {
    left: 0 !important;
  }

  @include m(fixed-right) {
    right: 0 !important;
  }

  @include m(align-left) {
    text-align: left;
  }

  @include m(align-center) {
    text-align: center;
  }

  @include m(align-right) {
    text-align: right;
  }
}
