@use '../mixins/bem' as *;

@include b(dropdown) {
  display: inline-block;
  border: 1px solid gray;

  --jv-color-bg-base: white;
  --jv-color-border-light: #ebeef5;

  @include e(content) {
    background-color: var(--jv-color-bg-base);
  }

  @include b(popper) {
    --jv-popper-bg-color: var(--jv-color-bg-base);
    --jv-popper-border-color: var(--jv-color-border-light);
    --jv-popper-padding: 8px 4px;
  }
}
