$directions: rtl, ltr, ttb, btt;

:root {
  --jv-drawer-duration: 0.3s;
  --jv-drawer-delay: -0.23361453601557428ms;
}

@b drawer-overlay {
}

@b drawer {
  --jv-drawer-height: inherit;
  --jv-drawer-width: inherit;

  display: inline-grid;
  position: absolute;
  inset: 0 auto auto;
  width: var(--jv-drawer-width);
  height: var(--jv-drawer-height);
  padding: 16px;
  box-shadow: var(--jv-shadow);
  z-index: 4000;
  box-sizing: border-box;
  max-height: 100vh;
  max-height: 100%;
  background-color: var(--jv-color-white);
  overflow: hidden;
  grid-template-areas: 'header  close' ' body close' 'footer close';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 16px;

  @when closable {
  }

  @e header {
    grid-area: header;
  }

  @e body {
    grid-area: body;
    overflow: auto;
  }

  @e footer {
    grid-area: footer;
  }

  @e close {
    grid-area: close;
    place-self: start end;
  }

  @m left {
    left: 0;
  }

  @m right {
    right: 0;
  }

  @m top {
    inset: 0 0 auto;
    width: 100vw;
    height: var(--jv-drawer-width, 30%) !important;
  }

  @m bottom {
    inset: auto 0 0;
    width: 100vw;
    height: var(--jv-drawer-width, 30%) !important;
  }

  @when visible {
  }
}
