@use '../mixins/bem' as *;

@include b(divider) {
  --jv-divider-color: #c8c8c8;
  --jv-divider-margin: 0px;
  --jv-divider-stroke-width: 1px;
  --jv-divider-title-bgcolor: var(--jv-theme-background);
  --jv-divider-text-align: center;
  --jv-divider-transform: rotateZ(0deg);
  --jv-offset-top: calc(-1 * (50% + var(--jv-divider-stroke-width) / 2));
  --jv-divider-after-left: 50%;
  --jv-divider-width: 100%;

  position: relative;
  width: var(--jv-divider-width);
  height: 0;
  margin: var(--jv-divider-margin) 0;
  text-align: var(--jv-divider-text-align);
  transform: var(--jv-divider-transform);
  overflow: visible;
  transform-origin: center;

  /* 分割线样式 */
  border-top-style: solid;
  border-top-width: var(--jv-divider-stroke-width);
  border-color: var(--jv-divider-bg-color);
  border-bottom: none;
  border-left: none;
  border-right: none;

  @include when(dashed) {
    border-top-style: dashed;
  }

  @include when(title) {
    &::after {
      position: absolute;
      top: 50%;
      left: var(--jv-divider-after-left);
      width: max-content;
      padding: 0 10px;
      background-color: rgb(var(--jv-divider-title-bgcolor));
      color: var(--jv-divider-color);
      font-size: 14px;
      line-height: 20px;
      transform: translate(-50%, var(--jv-offset-top));
      content: attr(data-title);
    }
  }
}
