@use '../mixins/bem' as *;

@include b(footer) {
  --jv-footer-padding: 8px;
  --jv-footer-height: var(--jv-footer-height-desktop);

  display: block;
  width: 100%;
  height: var(--jv-footer-height);
  padding: var(--jv-footer-padding);
  z-index: 1 !important;
  grid-area: footer;
  max-width: 100vw;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: var(--jv-footer-bg-color);
}
