
@use '../mixins/bem' as *;

@mixin icon-size($size) {
  --jv-icon-size: $size;

  width: var(--jv-icon-size);
  height: var(--jv-icon-size);
  font-size: var(--jv-icon-size);
  line-height: var(--jv-icon-size);
  max-height: var(--jv-icon-size);
}

@include b(icon) {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  transition-property: color, width, height, transform;
  transition-duration: 250ms;
  transition-timing-function: ease;

  svg {
    width: 1em;
    height: 1em;
    background-clip: text;
    fill: currentcolor;
  }

  svg path,
  svg circle,
  svg rect,
  svg polygon,
  svg ellipse {
    transition: fill 0.3s ease;
  }

  svg.loading {
    animation: spin 1s linear infinite;
  }

  @each $size, $value in (tiny, small, medium, large, x-large), (16px, 20px, 28px, 36px, 44px) {
    .jv-icon--#{$size} {
      @include icon-size($value);
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
