@use '../mixins/bem' as *;

$icon-sizes: (
  tiny: 16px,
  small: 20px,
  medium: 28px,
  large: 36px,
  x-large: 44px,
);

@mixin icon-size($size) {
  --jv-icon-size: #{$size};
}

@include b(icon) {
  --jv-icon-size: 1.5rem;
  --jv-icon-color: currentColor;

  display: inline-block;
  width: var(--jv-icon-size);
  height: var(--jv-icon-size);
  font-size: var(--jv-icon-size);
  line-height: var(--jv-icon-size);
  max-height: var(--jv-icon-size);
  text-align: center;
  vertical-align: middle;
  transition-property: color, width, height, transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
  color: var(--jv-icon-color);

  @include m(primary) {
    --jv-icon-color: rgb(var(--jv-theme-primary));
  }

  @include m(success) {
    --jv-icon-color: rgb(var(--jv-theme-success));
  }

  @include m(warning) {
    --jv-icon-color: rgb(var(--jv-theme-warning));
  }

  @include m(error) {
    --jv-icon-color: rgb(var(--jv-theme-error));
  }

  @include m(info) {
    --jv-icon-color: rgb(var(--jv-theme-info));
  }

  svg {
    width: 1em;
    height: 1em;
    background-clip: text;
    fill: var(--jv-icon-color);
  }

  svg path,
  svg circle,
  svg rect,
  svg polygon,
  svg ellipse {
    transition: fill 0.3s ease;
  }

  svg.loading-icon {
    animation: spin 1s linear infinite;
  }

  @each $size, $value in $icon-sizes {
    &.jv-icon--#{$size} {
      @include icon-size($value);
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
