@use '../mixins/bem' as *;

@include b(list) {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@include b(list-item) {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--jv-hover-bg-color);
  }
}
