@use '../mixins/bem' as *;

@include b(row) {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: flex-wrap 0.3s ease;

  &.is-wrap {
    flex-wrap: wrap;
  }

  &.is-nowrap {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  @include e(overflow) {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 24px;
      background: linear-gradient(to right, transparent, rgb(255 255 255 / 80%));
      opacity: 0;
      transition: opacity 0.3s ease;
      content: '';
      pointer-events: none;
    }
  }

  @include e(nowrap) {
    &::after {
      opacity: 1;
    }
  }

  @include m(justify-start) {
    justify-content: flex-start;
  }

  @include m(justify-end) {
    justify-content: flex-end;
  }

  @include m(justify-center) {
    justify-content: center;
  }

  @include m(justify-space-around) {
    justify-content: space-around;
  }

  @include m(justify-space-between) {
    justify-content: space-between;
  }

  @include m(align-top) {
    align-items: flex-start;
  }

  @include m(align-middle) {
    align-items: center;
  }

  @include m(align-bottom) {
    align-items: flex-end;
  }
}
