@b radio {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  user-select: none;

  @e icon-wrapper {
    display: inline-flex;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:hover {
      background-color: rgb(var(--jv-theme-primary) 0.1);
    }

    &:active {
      transition: transform 0.2s ease;
      transform: scale(0.9);
      transform-origin: center;
    }
  }

  @e icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }

  @e input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    outline: none;

    &:focus-visible + .jv-radio__icon-wrapper {
      background-color: var(--jv-color-primary-light-9);
    }
  }

  @e label {
    margin-left: 4px;
    color: var(--jv-text-color-primary);
    font-size: var(--jv-font-size-base);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@b radio {
  &.is-disabled {
    opacity: 0.7;
    cursor: not-allowed;

    @e icon-wrapper {
      cursor: not-allowed;
      background-color: var(--jv-theme-color-error);
    }

    @e icon {
      .jv-icon__svg {
        color: rgb(118 114 114 / 77.2%);
        background-color: rgb(118 114 114 / 77.2%) !important;

        &:active {
          transition: none;
          transform: none;

          /* 使用贝塞尔曲线实现震荡 */
          animation: jv-radio-shake 0.4s cubic-bezier(0.36, 0, 0.66, -0.56) both;
        }
      }
    }

    @e input {
      cursor: not-allowed;

      &:hover:not(:checked) {
        border-color: var(--jv-border-color);
      }
    }

    @e label {
      color: var(--jv-text-color-disabled);
      cursor: not-allowed;
    }
  }

  &.is-checked {
    @e icon {
      .jv-icon__svg {
        color: rgb(var(--jv-theme-primary));
        background-color: rgb(var(--jv-theme-primary));
      }
    }
  }
}

@keyframes jv-radio-checked-animation {
  to {
    transform: translateX(0.25rem);
  }
}

@keyframes jv-radio-shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  75% {
    transform: translateX(3px);
  }
}
