@use '../mixins/bem' as *;

@include b(transfer) {
  display: flex;
  align-items: center;

  @include e(panel) {
    width: 200px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }

  @include e(buttons) {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    gap: 10px;
  }

  @include e(header) {
    padding: 8px 12px;
    border-bottom: 1px solid #dcdfe6;
  }

  @include e(filter) {
    padding: 8px 12px;
    border-bottom: 1px solid #dcdfe6;
  }

  @include e(body) {
    height: 200px;
    padding: 8px 0;
    overflow-y: auto;
  }

  @include e(list) {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include e(item) {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background-color: #f5f7fa;
    }

    &.is-disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }

  @include e(footer) {
    padding: 8px 12px;
    border-top: 1px solid #dcdfe6;
  }
}
