@use '../mixins/bem' as *;
@mixin type-style($type) {
  background-color: rgba(var(--jv-theme-background), 1); /* 使用 $(type) 的 10% 作为背景颜色 */
  color: rgba(var(--jv-theme-#{$type}), 1); /* 使用 $(type) 作为文字颜色 */
  border-color: rgba(var(--jv-theme-#{$type})); /* 使用 $(type) 的 20% 作为边框颜色 */
  @content;
}

@include b(tag) {
  --jv-tag-height: 32px;
  --jv-tag-font-size: 14px;
  --jv-tag-border-radius: 4px;
  --jv-tag-padding: 0 10px;
  --jv-tag-white-space: nowrap;

  display: inline-flex;
  height: var(--jv-tag-height);
  margin: 0;
  padding: var(--jv-tag-padding);
  border-radius: var(--jv-tag-border-radius);
  font-size: var(--jv-tag-font-size);
  font-weight: var(--jv-font-weight-medium);
  align-items: center;
  white-space: var(--jv-tag-white-space);
  border-width: thin;
  border-style: solid;

  @include e(close) {
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  @include m(primary) {
    @include type-style(primary);
  }

  @include m(success) {
    @include type-style(success);
  }

  @include m(warning) {
    @include type-style(warning);
  }

  @include m(danger) {
    @include type-style(danger);
  }

  @include m(error) {
    @include type-style(error);
  }

  @include m(info) {
    @include type-style(info);
  }

  @include m(small) {
    height: 24px;
    padding: 0 8px;
    font-size: 12px;

    --jv-tag-height: 24px;
    --jv-tag-font-size: 12px;
    --jv-tag-padding: 0 8px;
  }

  @include m(large) {
    height: 40px;
    padding: 0 12px;
    font-size: 16px;

    --jv-tag-height: 40px;
    --jv-tag-font-size: 16px;
    --jv-tag-padding: 0 12px;
  }

  @include when(rounded) {
    border-radius: 999px;
  }
}
