@import '@jovial/theme-chalk/src/common/mixins.css';
@import './theme-vars.css';

@mixin b aside {
  --jv-aside-margin-right: 16px;
  grid-area: aside !important;
  box-sizing: border-box !important;
  background-color: var(--jv-aside-bg-color);
  border: var(--jv-border-solid);
  min-width: var(--jv-aside-width);
  width: max-content;
  max-width: 30%;
  height: var(--jv-aside-height);
  min-height: 100%;
  margin-right: var(--jv-aside-margin-right);

  overflow: auto;
}
