@import '@jovial/theme-chalk/src/common/mixins.css';
@import './theme-vars.css';
@mixin b container {
  z-index: 1 !important;
  width: var(--jv-container-width);
  height: var(--jv-container-height);
  max-width: var(--jv-container-max-width);
  max-height: var(--jv-container-max-height);
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-rows: var(--jv-header-height, 60px) 2fr var(--jv-footer-height, 60px);
  grid-template-columns: var(--jv-aside-width, 240px) 1fr;
  grid-template-areas:
    'header header'
    'aside main'
    'aside footer';

  &.is-vertical {
    grid-template-rows: var(--jv-header-height) 1fr var(--jv-footer-height);
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}
