@import url('./theme-vars.css');

@b header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: max(100%, 100vw) !important;
  height: var(--jv-header-height);
  border: var(--jv-border-solid);
  z-index: 100 !important;
  grid-area: header;
  box-sizing: border-box;
  max-width: 100vw;
  background-color: var(--jv-header-bg-color);
  overflow: hidden;
  filter: drop-shadow(0 0 10px rgb(0 0 0 / 10%));

  --jv-header-padding: 8px;
}
