@import '@jovial/theme-chalk/src/common/mixins.css';
@import './theme-vars.css';

@define-mixin e $element {
  .jv-main__$(element) {
    @mixin-content;
  }
}

@mixin b main {
  z-index: 1 !important;
  --jv-main-height: 100%;
  grid-area: main;
  display: block;
  width: 100%;
  height: var(--jv-main-height);
  min-height: var(--jv-main-height);
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--jv-main-bg-color);
  border: var(--jv-border-solid);
}

@mixin e wrapper {
  --jv-main-wrapper-padding: 16px;
  --jv-main-wrapper-width: 100%;
  --jv-main-wrapper-height: calc(100% - var(--jv-main-wrapper-padding) * 2);
  z-index: 2 !important;
  box-sizing: border-box;
  position: relative;
  inset: var(--jv-main-wrapper-padding);
  width: var(--jv-main-wrapper-width);
  max-width: calc(100% - var(--jv-main-wrapper-padding) * 2);
  height: var(--jv-main-wrapper-height);
  background-color: #fff;
  border: var(--jv-border-solid);
  overflow: auto;
  border-radius: var(--jv-main-border-radius);
  box-shadow: var(--jv-shadow);

  /* &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #222;
    z-index: -1;
  } */
}
