.jv-theme--dark {
  color-scheme: dark;
  --jv-theme-background: hsl(0, 0%, 7%);
  --jv-theme-background-overlay-multiplier: 1;
  --jv-theme-surface: hsl(0, 0%, 13%);
  --jv-theme-surface-overlay-multiplier: 1;
  --jv-theme-surface-bright: hsl(0, 0%, 28%);
  --jv-theme-surface-bright-overlay-multiplier: 1;
  --jv-theme-surface-light: hsl(0, 0%, 26%);
  --jv-theme-surface-light-overlay-multiplier: 1;
  --jv-theme-surface-variant: hsl(0, 0%, 64%);
  --jv-theme-surface-variant-overlay-multiplier: 2;
  --jv-theme-on-surface-variant: hsl(0, 0%, 26%);
  --jv-theme-primary: hsl(204, 100%, 48%);
  --jv-theme-primary-overlay-multiplier: 2;
  --jv-theme-primary-darken-1: hsl(204, 69%, 43%);
  --jv-theme-primary-darken-1-overlay-multiplier: 2;
  --jv-theme-secondary: hsl(0, 0%, 26%);
  --jv-theme-secondary-overlay-multiplier: 1;
  --jv-theme-secondary-darken-1: hsl(180, 60%, 49%);
  --jv-theme-secondary-darken-1-overlay-multiplier: 2;
  --jv-theme-error: hsl(0, 69%, 61%);
  --jv-theme-error-overlay-multiplier: 2;
  --jv-theme-info: hsl(204, 100%, 48%);
  --jv-theme-info-overlay-multiplier: 2;
  --jv-theme-success: hsl(120, 39%, 49%);
  --jv-theme-success-overlay-multiplier: 2;
  --jv-theme-warning: hsl(39, 100%, 50%);
  --jv-theme-warning-overlay-multiplier: 2;
  --jv-theme-surface-variant-alt: hsl(0, 0%, 20%);
  --jv-theme-surface-variant-alt-overlay-multiplier: 1;
  --jv-theme-tertiary: hsl(4, 100%, 72%);
  --jv-theme-tertiary-overlay-multiplier: 2;
  --jv-theme-accent: hsl(340, 100%, 50%);
  --jv-theme-accent-overlay-multiplier: 2;
  --jv-theme-quarternary: hsl(200, 75%, 82%);
  --jv-theme-quarternary-overlay-multiplier: 2;
  --jv-theme-on-background: hsl(0, 0%, 100%);
  --jv-theme-on-surface: hsl(0, 0%, 100%);
  --jv-theme-on-surface-bright: hsl(0, 0%, 100%);
  --jv-theme-on-surface-light: hsl(0, 0%, 100%);
  --jv-theme-on-primary: hsl(0, 0%, 100%);
  --jv-theme-on-primary-darken-1: hsl(0, 0%, 100%);
  --jv-theme-on-secondary: hsl(0, 0%, 100%);
  --jv-theme-on-secondary-darken-1: hsl(0, 0%, 100%);
  --jv-theme-on-error: hsl(0, 0%, 100%);
  --jv-theme-on-info: hsl(0, 0%, 100%);
  --jv-theme-on-success: hsl(0, 0%, 100%);
  --jv-theme-on-warning: hsl(0, 0%, 100%);
  --jv-theme-on-surface-variant-alt: hsl(0, 0%, 100%);
  --jv-theme-on-tertiary: hsl(0, 0%, 100%);
  --jv-theme-on-accent: hsl(0, 0%, 100%);
  --jv-theme-on-quarternary: hsl(0, 0%, 0%);
  --jv-border-color: hsl(0, 0%, 100%);
  --jv-border-opacity: 0.12;
  --jv-high-emphasis-opacity: 1;
  --jv-medium-emphasis-opacity: 0.7;
  --jv-disabled-opacity: 0.5;
  --jv-idle-opacity: 0.1;
  --jv-hover-opacity: 0.04;
  --jv-focus-opacity: 0.12;
  --jv-selected-opacity: 0.08;
  --jv-activated-opacity: 0.12;
  --jv-pressed-opacity: 0.16;
  --jv-dragged-opacity: 0.08;
  --jv-theme-kbd: hsl(210, 6%, 16%);
  --jv-theme-on-kbd: hsl(0, 0%, 100%);
  --jv-theme-code: hsl(0, 0%, 20%);
  --jv-theme-on-code: hsl(0, 0%, 80%);
}
