[data-theme='dark'] {
  --jv-theme-primary-100: #0085ff;
  --jv-theme-primary-200: #69b4ff;
  --jv-theme-primary-300: #e0ffff;
  --jv-theme-accent-100: #006fff;
  --jv-theme-accent-200: #e1ffff;
  --jv-theme-text-100: #ffffff;
  --jv-theme-text-200: #9e9e9e;
  --jv-theme-bg-100: #1e1e1e;
  --jv-theme-bg-200: #2d2d2d;
  --jv-theme-bg-300: #454545;
}
