/* Roboto Font */
/* 引入其他 CSS 文件 */
@import './dark.css';
@import './font.css';
@import './light.css';

html {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
}
[data-theme='dark'] {
  color-scheme: dark;
}
