@use './dark.scss' as *;
@use './light.scss' as *;
@use './font-link.scss' as *;
@use './font.scss' as *;

html {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
}
