:root {
  color-scheme: normal;
  --jv-theme-primary-100: #0077c2;
  --jv-theme-primary-200: #59a5f5;
  --jv-theme-primary-300: #c8ffff;
  --jv-theme-accent-100: #00bfff;
  --jv-theme-accent-200: #00619a;
  --jv-theme-text-100: #333333;
  --jv-theme-text-200: #5c5c5c;
  --jv-theme-bg-100: #ffffff;
  --jv-theme-bg-200: #f5f5f5;
  --jv-theme-bg-300: #cccccc;
}
