.jv-theme--light {
  color-scheme: normal;
  --jv-theme-background: 255, 255, 255;
  --jv-theme-background-overlay-multiplier: 1;
  --jv-theme-surface: 255, 255, 255;
  --jv-theme-surface-overlay-multiplier: 1;
  --jv-theme-surface-bright: 250, 250, 250;
  --jv-theme-surface-bright-overlay-multiplier: 1;
  --jv-theme-surface-light: 238, 238, 238;
  --jv-theme-surface-light-overlay-multiplier: 1;
  --jv-theme-surface-variant: 66, 66, 66;
  --jv-theme-surface-variant-overlay-multiplier: 2;
  --jv-theme-on-surface-variant: 238, 238, 238;
  --jv-theme-primary: 24, 103, 192;
  --jv-theme-primary-overlay-multiplier: 2;
  --jv-theme-primary-darken-1: 31, 85, 146;
  --jv-theme-primary-darken-1-overlay-multiplier: 2;
  --jv-theme-secondary: 92, 187, 246;
  --jv-theme-secondary-overlay-multiplier: 1;
  --jv-theme-secondary-darken-1: 1, 135, 134;
  --jv-theme-secondary-darken-1-overlay-multiplier: 1;
  --jv-theme-error: 176, 0, 32;
  --jv-theme-error-overlay-multiplier: 2;
  --jv-theme-info: 33, 150, 243;
  --jv-theme-info-overlay-multiplier: 1;
  --jv-theme-success: 76, 175, 80;
  --jv-theme-success-overlay-multiplier: 1;
  --jv-theme-warning: 251, 140, 0;
  --jv-theme-warning-overlay-multiplier: 1;
  --jv-theme-surface-variant-alt: 222, 222, 222;
  --jv-theme-surface-variant-alt-overlay-multiplier: 1;
  --jv-theme-tertiary: 229, 115, 115;
  --jv-theme-tertiary-overlay-multiplier: 1;
  --jv-theme-accent: 0, 92, 175;
  --jv-theme-accent-overlay-multiplier: 2;
  --jv-theme-quarternary: 176, 209, 232;
  --jv-theme-quarternary-overlay-multiplier: 1;
  --jv-theme-on-background: 0, 0, 0;
  --jv-theme-on-surface: 0, 0, 0;
  --jv-theme-on-surface-bright: 0, 0, 0;
  --jv-theme-on-surface-light: 0, 0, 0;
  --jv-theme-on-primary: 255, 255, 255;
  --jv-theme-on-primary-darken-1: 255, 255, 255;
  --jv-theme-on-secondary: 0, 0, 0;
  --jv-theme-on-secondary-darken-1: 255, 255, 255;
  --jv-theme-on-error: 255, 255, 255;
  --jv-theme-on-info: 255, 255, 255;
  --jv-theme-on-success: 255, 255, 255;
  --jv-theme-on-warning: 255, 255, 255;
  --jv-theme-on-surface-variant-alt: 0, 0, 0;
  --jv-theme-on-tertiary: 255, 255, 255;
  --jv-theme-on-accent: 255, 255, 255;
  --jv-theme-on-quarternary: 0, 0, 0;
  --jv-border-color: 0, 0, 0;
  --jv-border-opacity: 0.12;
  --jv-high-emphasis-opacity: 0.87;
  --jv-medium-emphasis-opacity: 0.6;
  --jv-disabled-opacity: 0.38;
  --jv-idle-opacity: 0.04;
  --jv-hover-opacity: 0.04;
  --jv-focus-opacity: 0.12;
  --jv-selected-opacity: 0.08;
  --jv-activated-opacity: 0.12;
  --jv-pressed-opacity: 0.12;
  --jv-dragged-opacity: 0.08;
  --jv-theme-kbd: 33, 37, 41;
  --jv-theme-on-kbd: 255, 255, 255;
  --jv-theme-code: 245, 245, 245;
  --jv-theme-on-code: 0, 0, 0;
}
