@import '@jovial/theme-chalk/src/common/mixins.css';

@define-mixin e $element {
  .jv-tooltip__$(element) {
    @mixin-content;
  }
}

@mixin b tooltip {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: max-content;
  overflow: hidden;
  @mixin e trigger {
    display: inline-block;
    overflow: hidden;
    width: inherit;
  }
}
