@define-mixin e $element {
  .jv-alert__$(element) {
    @mixin-content;
  }
}

@define-mixin m $modifier {
  .jv-alert--$(modifier) {
    @mixin-content;
  }
}

@b alert {
  display: flex;
  padding: 16px;
  border: 1px solid rgb(var(--jv-theme-on-surface) 0.12);
  border-radius: 4px;
  color: rgb(var(--jv-theme-on-surface));
  transition: all 0.3s ease-in-out;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(var(--jv-theme-surface));
}

@m success {
  background-color: rgb(var(--jv-theme-success) 0.1);
  color: rgb(var(--jv-theme-success));
  border-color: rgb(var(--jv-theme-success) 0.2);

  .jv-icon {
    color: rgb(var(--jv-theme-success));
  }
}

@m info {
  background-color: rgb(var(--jv-theme-info) 0.1);
  color: rgb(var(--jv-theme-info));
  border-color: rgb(var(--jv-theme-info) 0.2);

  .jv-icon {
    color: rgb(var(--jv-theme-info));
  }
}

@m warning {
  background-color: rgb(var(--jv-theme-warning) 0.1);
  color: rgb(var(--jv-theme-warning));
  border-color: rgb(var(--jv-theme-warning) 0.2);

  .jv-icon {
    color: rgb(var(--jv-theme-warning));
  }
}

@m error {
  background-color: rgb(var(--jv-theme-error) 0.1);
  color: rgb(var(--jv-theme-error));
  border-color: rgb(var(--jv-theme-error) 0.2);

  .jv-icon {
    color: rgb(var(--jv-theme-error));
  }
}

@e icon {
  margin-right: 8px;
  align-self: flex-start;
  font-size: 16px;
}

@e content {
  flex: 1;

  &--title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
  }

  &--description {
    margin: 8px 0 0;
    opacity: 0.9;
    font-size: 14px;
    line-height: 1.6;
  }
}

@e close {
  margin: -4px;
  padding: 4px;
  background: none;
  border: none;
  opacity: 0.7;
  color: currentcolor;
  cursor: pointer;
  transition: opacity 0.2s;
  align-self: flex-start;

  &:hover {
    opacity: 1;
  }

  .jv-icon {
    color: currentcolor;
    font-size: 16px;
  }
}
