@b scroll-panel {
  @e wrapper {
    --jv-scrollbar-weight: 17px;

    position: relative;
    overflow: hidden;

    /* padding-right: var(--jv-scrollbar-weight);
    padding-bottom: var(--jv-scrollbar-weight); */
    width: 100%;
    height: 100%;
  }

  @e content {
    min-height: 100%;
    min-width: 100%;
    width: fit-content;
    height: fit-content;
    max-width: max-content;
    max-height: max-content;
    box-sizing: border-box;
  }

  @m disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  @m mode-vertical {
    .jv-scroll-box__wrapper {
      overflow-y: hidden;
    }
  }

  @m mode-horizontal {
    .jv-scroll-box__wrapper {
      overflow-x: hidden;
    }
  }
}

.custom-vertical-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--jv-scrollbar-weight);
  height: calc(100% - var(--jv-scrollbar-weight));
  z-index: 9999;
  background-color: rgb(200 200 200 / 30%);
  backdrop-filter: blur(5px);

  /* 鼠标悬停时 */
  &:hover {
    background-color: rgb(200 200 200 / 60%);
  }

  .custom-vertical-indicator {
    background-color: #697572;
    width: 100%;
    height: 40px;
    border-radius: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}

.custom-horizontal-scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - var(--jv-scrollbar-weight));
  height: var(--jv-scrollbar-weight);
  z-index: 9999;
  transform: translateZ(0);
  background-color: rgb(200 200 200 / 30%);

  /* 背景模糊 */
  backdrop-filter: blur(5px);

  &:hover {
    background-color: rgb(200 200 200 / 60%);
  }

  .custom-horizontal-indicator {
    background-color: #697572b5;
    width: 40px;
    height: 100%;
    border-radius: 25px;

    &:hover {
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
      cursor: pointer;
      background-color: #697572;
    }
  }
}
