@b space {
  --jv-space-vertical-size: 16px;
  --jv-space-size: 16px;
  --jv-space-justify: flex-start;
  --jv-space-align: flex-start;
  --jv-space-flex-direction: row;

  min-width: 100%;
  min-height: max-content;
  display: flex;
  flex-flow: var(--jv-space-flex-direction) nowrap;
  justify-content: var(--jv-space-justify);
  align-items: var(--jv-space-align);
  gap: var(--jv-space-vertical-size) var(--jv-space-size);
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;

  @m wrap {
    flex-wrap: wrap;
  }

  @m inline {
    display: inline-flex;
  }

  @m justify-start {
    justify-content: flex-start !important;
  }

  @m justify-center {
    justify-content: center;
  }

  @m justify-end {
    justify-content: flex-end;
  }

  @m justify-between {
    justify-content: space-between;
  }

  @m justify-around {
    justify-content: space-around;
  }

  @m justify-evenly {
    justify-content: space-evenly;
  }

  @m align-start {
    align-items: flex-start;
  }

  @m align-center {
    align-items: center;
  }

  @m align-end {
    align-items: flex-end;
  }

  @m align-stretch {
    align-items: stretch;
  }

  @m align-baseline {
    align-items: baseline;
  }

  @m horizontal {
    flex-direction: row;
  }

  @m vertical {
    flex-direction: column;
  }
}
